<!--
Citation for this file:
Date: 6/1/2023
Adapted from OSU CS340 Ecampus starter code.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<h1>Customers</h1>
<hr>
<section>
    <h2>Browse Customers</h2>
    <table id="customers-table">
        <thead>
            <tr>
                <th colspan=2>Customers</th>
                {{#each customers.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each customers}}
            <tr data-value="{{this.customer_id}}">
                <td><button onclick="updateCustomer({{this.customer_id}})">Edit</button></td>
                <td><button onclick="confirmDelete({{this.customer_id}})">Delete</button></td>
                <td class="customer-id">{{this.customer_id}}</td>
                <td class="customer-fname">{{this.first_name}}</td>
                <td class="customer-lname">{{this.last_name}}</td>
                <td class="customer-phone">{{this.phone}}</td>
                <td class="customer-email">{{this.email}}</td>
                <td class="customer-address">{{this.address}}</td>
                <td class="customer-city">{{this.city}}</td>
                <td class="customer-state">{{this.state}}</td>
                <td class="customer-pcode">{{this.postal_code}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section>
    <h2>Add Customer</h2>
    <p>To add a customer, enter the following information and click <strong>Add Customer</strong>.</p>
    <form id="add-customer-form" method="post">
        <fieldset>
            <div class="input-container">
                <label class="required" for="input-customer-fname">First Name</label>
                <input required type="text" name="input-customer-fname" id="input-customer-fname">
            </div>
            <div class="input-container">
                <label class="required" for="input-customer-lname">Last Name</label>
                <input required type="text" name="input-customer-lname" id="input-customer-lname">
            </div>
            <div class="input-container">
                <label for="input-customer-phone">Phone</label>
                <input type="tel" name="input-customer-phone" id="input-customer-phone">
            </div>
            <div class="input-container">
                <label class="required" for="input-customer-email">Email</label>
                <input required type="email" name="input-customer-email" id="input-customer-email">
            </div>
            <div class="input-container">
                <label class="required" for="input-customer-address">Address</label>
                <input required type="text" name="input-customer-address" id="input-customer-address">
            </div>
            <div class="input-container">
                <label for="input-customer-city">City</label>
                <input type="text" name="input-customer-city" id="input-customer-city">
            </div>
            <div class="input-container">
                <label for="input-customer-state">State</label>
                <input type="text" name="input-customer-state" id="input-customer-state">
            </div>
            <div class="input-container">
                <label class="required" for="input-customer-pcode">Postal Code</label>
                <input required type="number" name="input-customer-pcode" id="input-customer-pcode">
            </div>
        </fieldset>
        <button id="add-customer-button" type="submit">Add Customer</button>
    </form>
</section>
<section>
    <h2>Update Customer</h2>
    <p>In the table above, click <strong>Edit</strong>. Then, edit the customer details in these fields and click
        <strong>Update Customer</strong>.</p>
    <form id="update-customer-form" method="post">
        <fieldset>
            <div class="input-container">
                <label class='required' for="update-customer-id">Customer ID</label>
                <input disabled type="number" name="update-customer-id" id="update-customer-id" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-fname">First Name</label>
                <input disabled required type="text" name="update-customer-fname" id="update-customer-fname" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-lname">Last Name</label>
                <input disabled type="text" name="update-customer-lname" id="update-customer-lname" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-phone">Phone</label>
                <input disabled type="tel" name="update-customer-phone" id="update-customer-phone" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-email">Email</label>
                <input disabled type="email" name="update-customer-email" id="update-customer-email" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-address">Address</label>
                <input disabled type="text" name="update-customer-address" id="update-customer-address" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-city">City</label>
                <input disabled type="text" name="update-customer-city" id="update-customer-city" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-state">State</label>
                <input disabled type="text" name="update-customer-state" id="update-customer-state" value="">
            </div>
            <div class="input-container">
                <label for="update-customer-pcode">Postal Code</label>
                <input disabled type="num" name="update-customer-pcode" id="update-customer-pcode" value="">
            </div>
        </fieldset>
        <button id="update-customer-button">Update Order</button>
    </form>
</section>

<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>
<script src="./js/update_customer.js"></script>