<!--
Citation for this file:
Date: 5/28/2023
Adapted from OSU CS340 Ecampus starter code.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->
<h1>Movies</h1>
<hr>
<section>
    <h2>Browse Movies</h2>
    <table id="movies-table">
        <thead>
            <tr>
                <th colspan=2>Movies</th>
                {{#each movies.[0]}}
                <th>
                    {{formatHeading @key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
                <tr data-value="{{this.movie_id}}">
                    <td><button onclick="updateMovie({{this.movie_id}})">Edit</button></td>
                    <td><button onclick="confirmDelete({{this.movie_id}})">Delete</button></td>
                    <td class="movie-id">{{this.movie_id}}</td>
                    <td class="title">{{this.title}}</td>
                    <td class="year">{{this.year}}</td>
                    <td class="genre">{{this.genre}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section>
    <h2>Add Movie</h2>
    <p>To add a movie, enter the following information and click <strong>Add Movie</strong>.</p>
    <form id="add-movie-form" method="post">

        <fieldset>

            <div class="input-container">
                <label class="required" for="input-title">Title</label>
                <input required type="text" maxlength="100" name="input-title" id="input-title">
            </div>

            <div class="input-container">
                <label class="required" for="input-year">Year</label>
                <input required type="number" min="1900" max="2100" value="2000" step="1" name="input-year" id="input-year">
            </div>

            <div class="input-container">
                <label for="input-genre">Genre</label>
                <input type="text" maxlength="20" name="input-genre" id="input-genre">
            </div>

        </fieldset>

        <button id="add-movie-button" type="submit">Add Movie</button>
    </form>
</section>
<section>
    <h2>Update Movie</h2>
    <p>In the table above, click <strong>Edit</strong>. Then, edit the movie details in these fields and click <strong>Update Movie</strong>.</p>
    <form id="update-movie-form" method="post">
        
        <fieldset>

            <div class="input-container">
                <label for="update-movie-id">Movie ID</label>
                <input disabled type="number" name="update-movie-id" id="update-movie-id" value="">
            </div>

            <div class="input-container">
                <label class="required" for="update-title">Title</label>
                <input disabled required type="text" maxlength="100" name="update-title" id="update-title" value="">
            </div>

            <div class="input-container">
                <label class="required" for="update-year">Year</label>
                <input disabled required type="number" min="1900" max="2100" step="1" name="update-year" id="update-year" value="">
            </div>

            <div class="input-container">
                <label for="update-genre">Genre</label>
                <input disabled type="text" maxlength="20" name="update-genre" id="update-genre" value="">
            </div>

        </fieldset>

        <button id="update-movie-button" disabled>Update Movie</button>
    </form>
</section>

<script src="./js/add_movie.js"></script>
<script src="./js/delete_movie.js"></script>
<script src="./js/update_movie.js"></script>