<h1>Movie Items</h1>
<hr>
<section>
    <h2>Browse Movie Items</h2>
    <table id="movie-items-table">
        <thead>
            <tr>
                <th colspan=2>Movie Items</th>
                {{#each movieItems.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each movieItems}}
                <tr data-value="{{this.movie_item_id}}">
                    <td><button onclick="updateMovieItem({{this.movie_item_id}})">Edit</button></td>
                    <td><button onclick="confirmDelete({{this.movie_item_id}})">Delete</button></td>
                    <td class="movie-item-id">{{this.movie_item_id}}</td>
                    <td class="item-id">{{this.item_id}}</td>
                    <td class="movie-id">{{this.movie_id}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>

<section>
    <h2>Add Movie Item</h2>
    <p>To associate a memorabilia item with a movie, enter the following information and click <strong>Add Movie Item</strong>.</p>
    <form id="add-movie-item-form" method="post">

        <fieldset>

            <div class="input-container">
                <label for="input-item-id">Memorabilia Item ID</label>
                <select required name="input-item-id" id="input-item-id">
                    <option selected></option>
                    {{#each memorabilia}}
                        <option value="{{this.item_id}}">{{this.item_id}} - {{this.description}}</option>
                    {{/each}}
                </select>                
            </div>

            <div class="input-container">
                <label for="input-movie-id">Movie ID</label>
                <select required name="input-movie-id" id="input-movie-id">
                    <option selected></option>
                    {{#each movies}}
                        <option value="{{this.movie_id}}">{{this.movie_id}} - {{this.movie}}</option>
                    {{/each}}
                </select>                
            </div>

        </fieldset>

        <button id="add-movie-item-button" type="submit">Add Movie Item</button>
    </form>
</section>

<section>
    <h2>Update Movie Item</h2>
    <p>In the table above, click <strong>Edit</strong>. Then, edit the movie item details in these fields and click <strong>Update Movie Item</strong>.</p>
    <form id="update-movie-item-form" method="post">
        
        <fieldset>

            <div class="input-container">
                <label for="update-movie-item-id">Movie Item ID</label>
                <input disabled type="number" name="update-movie-item-id" id="update-movie-item-id" value="">
            </div>

            <div class="input-container">
                <label for="update-item-id">Memorabilia Item ID</label>
                <select disabled required name="update-item-id" id="update-item-id">
                    <option selected></option>
                    {{#each memorabilia}}
                        <option value="{{this.item_id}}">{{this.item_id}} - {{this.description}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="input-container">
                <label for="update-movie-id">Movie ID</label>
                <select disabled required name="update-movie-id" id="update-movie-id">
                    <option selected></option>
                    {{#each movies}}
                        <option value="{{this.movie_id}}">{{this.movie_id}} - {{this.movie}}</option>
                    {{/each}}
                </select>
            </div>

        </fieldset>

        <button id="update-movie-items-button" disabled>Update Movie Item</button>
    </form>
</section>

<script src="./js/add_movie_item.js"></script>
<script src="./js/delete_movie_item.js"></script>
<script src="./js/update_movie_item.js"></script>