<h1>Orders</h1>
<hr>
<section>
    <h2>Browse Orders</h2>
    <table id="orders-table">
        <thead>
            <tr>
                <th colspan=2>Orders</th>
                {{#each orders.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr data-value="{{this.order_id}}">
                <td><button onclick="updateOrder({{this.order_id}})">Edit</button></td>
                <td><button onclick="deleteOrder({{this.order_id}})">Delete</button></td>
                <td class="order-id">{{this.order_id}}</td>
                <td class="order-date">{{this.order_date}}</td>
                <td class="ship-date">{{this.ship_date}}</td>
                <td class="delivered-date">{{this.delivered_date}}</td>
                <td class="comment">{{this.comment}}</td>
                <td class="customer-id">{{this.customer_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section>
    <h2>Add Order</h2>
    <p>To add an order, enter the following information and click <strong>Add Order</strong>.</p>
    <form id="add-order-form" method="post">

        <fieldset>

            <div class="input-container">
                <label for="input-order-date">Order Date</label>
                <input required type="date" name="input-order-date" id="input-order-date">
            </div>

            <div class="input-container">
                <label for="input-ship-date">Ship Date</label>
                <input type="date" name="input-ship-date" id="input-ship-date">
            </div>

            <div class="input-container">
                <label for="input-delivered-date">Delivered Date</label>
                <input type="date" name="input-delivered-date" id="input-delivered-date">
            </div>

            <div class="input-container">
                <label for="input-comment">Comment</label>
                <textarea name="input-comment" id="input-comment"></textarea>
            </div> 

            <div class="input-container">
                <label for="input-customer-id">Customer ID</label>
                <select required name="input-customer-id" id="input-customer-id">
                    <option disabled selected>-- Select a Customer --</option>
                    {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_id}} - {{this.first_name}} {{this.last_name}} ({{this.email}})</option>
                    {{/each}}
                </select>                
            </div>

        </fieldset>

        <button type="submit">Add Order</button>
    </form>
</section>

<section>
    <h2>Update Order</h2>
    <p>In the table above, click <strong>Edit</strong>. Then, edit the order details in these fields and click <strong>Update Order</strong>.</p>
    <form id="update-order-form" method="post">
        
        <fieldset>

            <div class="input-container">
                <label for="update-order-id">Order ID</label>
                <input disabled type="number" name="update-order-id" id="update-order-id" value="">
            </div>

            <div class="input-container">
                <label for="update-order-date">Order Date</label>
                <input disabled required type="date" name="update-order-date" id="update-order-date" value="">
            </div>

            <div class="input-container">
                <label for="update-ship-date">Ship Date</label>
                <input disabled type="date" name="update-ship-date" id="update-ship-date" value="">
            </div>

            <div class="input-container">
                <label for="update-delivered-date">Delivered Date</label>
                <input disabled type="date" name="update-delivered-date" id="update-delivered-date" value="">
            </div>

            <div class="input-container">
                <label for="update-comment">Comment</label>
                <textarea disabled name="update-comment" id="update-comment" value=""></textarea>
            </div>

            <div class="input-container">
            <label for="update-customer-id">Customer ID</label>
                <select disabled required name="update-customer-id" id="update-customer-id">
                    {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_id}} - {{this.first_name}} {{this.last_name}} ({{this.email}})</option>
                    {{/each}}
                </select>
            </div>

        </fieldset>

        <button type="submit">Update Order</button>
    </form>
</section>

<script src="./js/add_order.js"></script>
<script src="./js/delete_order.js"></script>
<script src="./js/update_order.js"></script>